*{
    background: rgba(25, 28, 40);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2px 10px 10px 10px;
}
mark{
    color: rgb(250, 4, 168);
}
header{
    display: flex;
    position: static;
    flex: 500px, 1fr;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    font-size: 20px;
    
}
ul ,a{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-size: 13px;
}
#home, #about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#home img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0px 7px 20px rgba(250, 4, 168, 0.774);
    background-color: rgb(250, 4, 168);
}
#about img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0px 7px 26px rgba(250, 4, 168, 0.774);
}
button{
    color: rgb(250, 4, 168) ;
    border:solid 1px;
    border-radius: 20px;
    width: 120px;
    height: 30px;
}
button:hover{
    color: white;
    background-color:  rgba(250, 4, 168, 0.774) ;
    transition: 1s;
    transform: translateY(2px);
}