*{
    background: rgba(25, 28, 40);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2px 10px 10px 10px;
}
mark{
    color: rgb(250, 4, 168);
}
header{
    display: flex;
    position:static;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 100px;
    font-size: 20px;
    box-shadow: 7px 10px 20px rgb(27, 31, 41);
}
ul ,a{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-size: 13px;
}
a:hover{
    text-decoration: underline;
    color:rgb(250, 4, 168);
}

#home, #about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0px 7px 20px rgba(250, 4, 168, 0.774);
    background-color: rgb(250, 4, 168);
}
#about img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0px 7px 26px rgba(250, 4, 168, 0.774);
}
#service{
    justify-content: space-evenly;
    align-self: center;
    text-align: center;
}
#description{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-self: center;
}
#serv-exp{
    border: solid 3px rgba(20, 24, 39, 0.911);
    margin: 30px;
}
#projects {
    justify-content: space-evenly;
    align-self: center;
    text-align: center;
    padding: 50px;
}
#projects img{
    display: flex;
    min-width: ;
    min-height: 150px;
    margin: 50px;
    border-radius: 10px;
    overflow: hidden;
    border: solid 2px rgba(218, 13, 208, 0.13);
    box-shadow: 0px 4px 11px rgba(218, 13, 208, 0.356);
}
button{
    color: rgb(250, 4, 168) ;
    border:solid 1px;
    border-radius: 20px;
    width: 120px;
    height: 30px;
}
button:hover{
    color: white;
    background-color:  rgba(250, 4, 168, 0.774) ;
    transition: 1s;
    transform: translateY(2px);
}